body{
    background-color: #9ceb49;
    margin: 0px;
    padding: 0px;
}

header{
    background-image:url("../pictures/vocnjak1.jpg");
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 5px;
}

header h1{
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    text-shadow:2px 2px black;
}

 nav ul{
     margin-top: 5px;
    text-align: center;
    padding-left: 0px;
} 

nav ul li {
    display: inline-block;
    width: 340px;
    font-size: 40px;
    text-align: center;
    background-color: #81a384;
    margin-right: 20px;
    border-radius: 10px;
    border: black;
    border-style: solid;
}

a:link {
    color: #048a06;
    text-decoration: none;
}
  
a:visited {
color: pink;
text-decoration: none;
}

a:hover {
color: #87274f;
text-decoration: underline;
}

a:active {
color: #cccf38;
text-decoration: underline;
}

#title{
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow:2px 2px #014507;
}

 h2{
    margin-top: 40px;
    margin-left: 30px;
}

#section1 img{
    width: 450px;
    height: 270px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #d5e6d7;
}

 p{
    margin-top:10px;
    margin-left:15px
}


#section2 table,th,td {
    border: 2px solid #4e5742;
    border-collapse: collapse;
}

#section2 table{
    background-color: #488000;
    float: right;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
}

th, td{
    width: 80px;
    text-align:center;
}

#section2 table caption{
    font-family:cursive;
}

#section3 ol{
    margin-right: 30px;
}
#section3 li {
    margin-bottom: 10px;
}

footer{
    background-color:#c1de9b;
    height: 170px;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
 
footer div{
    float: left;
}

footer h4{
    position: relative;
    left: 75%;
}

footer address{
    position: relative;
    left: 80%;
}

footer p{
    position: relative;
    left: 75%;
}

#eko{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 250px;
    height: 150px;
}
#eu{
    float:right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 250px;
    height: 150px;
}





