body{
    background-color: #9ceb49;
    margin: 0px;
    padding: 0px;
}

header{
    background-image:url("../pictures/vocnjak1.jpg");
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 5px;
}

header h1{
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    text-shadow:2px 2px black;
}

 nav ul{
     margin-top: 5px;
    text-align: center;
    padding-left: 0px;
} 

nav ul li {
    display: inline-block;
    width: 340px;
    font-size: 40px;
    text-align: center;
    background-color: #81a384;
    margin-right: 20px;
    border-radius: 10px;
    border: black;
    border-style: solid;
}

a:link {
    color: #048a06;
    text-decoration: none;
}
  
a:visited {
color: pink;
text-decoration: none;
}

a:hover {
color: #87274f;
text-decoration: underline;
}

a:active {
color: #cccf38;
text-decoration: underline;
}


#title{
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow:2px 2px #014507;
}


h2{
   margin-top: 40px;
   margin-left: 30px;
}
section{
    margin-left: 30px;
    margin-right: 30px;
}

#section1 img{
   width: 350px;
   height: 300px;
   float: right;
   margin-top: 10px;
   margin-right: 50px;
   margin-left: 20px;
   border-radius: 5px;
   border: 1px solid #d5e6d7;
}

p{
   margin-top:10px;
   margin-left:15px
}

#section2{
    display: flex;
}

#kosnja{
    background-color: #25733a;
}

#img-description{
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    text-align: center;
    border: 2px solid #7dad8a;
    margin-right:10px
}

#section3 h2{
    font-family: monospace;
}

#galerija img{
    width: 350px;
    height: 250px;
    margin:3px;
    border:2px solid #438f8a;
    border-collapse: collapse;
}


footer{
    clear: right;
    background-color:#c1de9b;
    height: 170px;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
}

footer div{
    width: 400px;
    padding-left: 50px;
}
#footer-title{
    text-align: center;
}

#div-adress{
    text-align: center;
}

footer img{
    width: 200px;
    height: 150px;
    padding-top: 10px;
    border-radius: 50%;
}