body{
    background-color: #9ceb49;
    margin: 0px;
    padding: 0px;
}

header{
    background-image:url("../pictures/vocnjak1.jpg");
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 5px;
}

header h1{
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
    text-shadow:2px 2px black;
}

 nav ul{
     margin-top: 5px;
    text-align: center;
    padding-left: 0px;
} 

nav ul li {
    display: inline-block;
    width: 340px;
    font-size: 40px;
    text-align: center;
    background-color: #81a384;
    margin-right: 20px;
    border-radius: 10px;
    border: black;
    border-style: solid;
}

a:link {
    color: #048a06;
    text-decoration: none;
}
  
a:visited {
color: pink;
text-decoration: none;
}

a:hover {
color: #87274f;
text-decoration: underline;
}

a:active {
color: #cccf38;
text-decoration: underline;
}


#title{
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow:2px 2px #014507;
}

section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(#2d8544,#afc4b5) bottom no-repeat;
    background-size:50% 3px;
}

section div{
    padding-right: 40px;
}

section div p{
    font-size: large;
    width: 300px;
}

section img{
    width: 300px;
    height: 200px;
    padding: 2px;
    border: 2px dashed white;
    margin-bottom: 20px;
}

footer{
    background-color:#c1de9b;
    height: 170px;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
}

footer div{
    width: 400px;
    padding-left: 50px;
}
#footer-title{
    text-align: center;
}

#div-adress{
    text-align: center;
}

footer img{
    width: 200px;
    height: 150px;
    padding-top: 10px;
    border-radius: 50%;
}